<div class="card col-md-4 mx-auto">
  <div class="card-body">
    <form>
      <div class="form-group">
        <input [(ngModel)]="tokenCreation.emailAddress"
               type="email"
               class="form-control mr-sm-2"
               name="emailAddress"
               aria-describedby="emailHelp"
               placeholder="mon@email.example">
      </div>
      <div class="form-group">
        <input [(ngModel)]="tokenCreation.password"
               type="password"
               class="form-control mr-sm-2"
               name="password"
               placeholder="Password">
      </div>
      <div class="form-check">
        <input [(ngModel)]="persistentToken"
               type="checkbox"
               class="form-check-input mr-sm-2"
               name="rembemberMe"
               id="rembemberMe">
        <label class="form-check-label"
               for="rembemberMe">
          Se souvenir de moi
        </label>
      </div>
      <button *ngIf="!inline"
              (click)="createToken()"
              type="submit"
              class="btn btn-outline-success my-2 my-sm-0"
              data-dismiss="modal"
              [attr.disabled]="!completed ? true : null">
        Connexion
      </button>
    </form>
  </div>
</div>
