<div class="modal fade"
     id="confirmationModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="confirmationModalLabel"
     aria-hidden="true">
  <div class="modal-dialog"
       role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
            id="confirmationModalLabel">
          {{title}}
        </h5>
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
                (click)="confirmation = false">
          <span aria-hidden="true">
            &times;
          </span>
        </button>
      </div>
      <div class="modal-body">
        {{text}}
      </div>
      <div class="modal-footer">
        <button type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
                (click)="confirmation = false">
          Annulez
        </button>
        <button type="button"
                class="btn btn-primary"
                (click)="confirmation = true">
          Validez
        </button>
      </div>
    </div>
  </div>
</div>
