<nav class="navbar fixed-bottom navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand">
    {{user.firstName | titlecase}} {{user.lastName | uppercase}}
  </a>
  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarCollapse"
          aria-controls="navbarCollapse"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse"
       id="navbarCollapse">
    <ul class="navbar-nav mr-auto"></ul>
    <div class="navbar navbar-nav ml-auto">
      <button (click)="destroyToken()"
              class="btn btn-outline-danger my-2 my-sm-0">
        Déconnexion
      </button>
    </div>
  </div>
</nav>
