<div class="container">
  <router-outlet *ngIf="authenticated"></router-outlet>
  <app-login-form *ngIf="!authenticated"
                  (tokenCreated)="tokenCreated($event)"></app-login-form>
</div>
