<div class="card">
  <div class="card-body">
    <form (submit)="createTicket()">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="ticketName">
            Nom
          </label>
          <input id="ticketName"
                 name="ticketName"
                 class="form-control"
                 [(ngModel)]="ticket.name">
        </div>
        <div class="form-group  col-md-4">
          <label for="ticketExpiration">
            Expire le
          </label>
          <input id="ticketExpiration"
                 name="ticketExpiration"
                 class="form-control"
                 type="date"
                 [(ngModel)]="ticket.expiration">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="ticketNbLeft">
            Nombre disponible
          </label>
          <input id="ticketNbLeft"
                    name="ticketNbLeft"
                    type="number"
                    class="form-control col-md-6"
                    [(ngModel)]="ticket.nbLefts">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-8">
          <label for="ticketDescription">
            Description
          </label>
          <textarea id="ticketDescription"
                    name="ticketDescription"
                    class="form-control"
                    placeholder="..."
                    [(ngModel)]="ticket.description">
          </textarea>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-8">
          <label for="ticketUrlImage">
            Lien de l'image
          </label>
          <input id="ticketUrlImage"
                 name="ticketUrlImage"
                 type="text"
                 [pattern]="urlPattern"
                 class="form-control"
                 [(ngModel)]="ticket.urlImage">
        </div>
      </div>
      <button class="btn-btn btn-primary"
              type="submit">
        Validez
      </button>
    </form>
  </div>
</div>
