<div id="accordion">
  <app-ticket-details *ngFor="let ticket of tickets"
                      [ticket]="ticket"
                      (selectTicket)="selectedTicketId = $event">
    <app-loading-wheel></app-loading-wheel>
  </app-ticket-details>
</div>
<app-confirmation-modal [title]="'Confirmation de suppression'"
                        [text]="'Etes-vous sûr de vouloir supprimer \'' + selectedTicket?.name + '\' ?'"
                        (confirm)="deleteTicket($event)"></app-confirmation-modal>
